


.top{
    background-color: rgb(198, 235, 252);
}
.top{
    position: relative;
    padding-top: 130px;

}

body{
    color: #40514E;
    margin: 0;
    text-align: center;
}
h1{
    color: #66bfbf;
    margin : 0 auto 0 auto;
    font-family: 'Pacifico', cursive;;
}
p{ color: #66bfbf;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
}
  


img{

    width:300px;
    height:110px;
    position: relative;
    
}
.mountain{
    height:300px;
    width:100%;
    ;
}
.bottom-cloud{
position: absolute;
bottom: 300px;
    

}

.top-cloud{
    position: relative;
    left:300px;

}

.myprofile{ 
    
    background-color: darkcyan;
    height: 300px;
    width: 300px;
    position:relative;
    left: auto;
}
h2{
    width: auto;
    ;
}
.code1{
    height: 200px;
    width: 200px;
    padding-right:200px;
}
.code2{
    height:200px;
    width:200px;
    padding-right: 200px;

}
.code3{
    height:200px;
    width:200px;
    padding-right: 200px;
}
.skill1{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    ;
}
.img1{
    width: 25%;
    height: 25%;

    float: left;
    padding-right: 100px;
}

.img2{
    width: 25%;
    height: 25%;
    float: right;
}


.border{
       
       border-style: dotted  none none;
       border-color: #ffe0e0;
       border-width: 5px;
       width: 5%;

    }

        .btn {
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            color: #000000;
            font-family: Verdana;
            font-size: 20px;
            font-weight: 100;
            padding: 20px;
            background-color: #3D94F6;
            -webkit-box-shadow: inset 1px 1px 20px 0 #DD380D;
            -moz-box-shadow: inset 1px 1px 20px 0 #DD380D;
            box-shadow: inset 1px 1px 20px 0 #DD380D;
            text-shadow: -2px 1px 16px #000000;
            border: solid #0059A0 1px;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            text-align: center;
         }
         
         .btn:hover {
            border: solid #FFAE00 1px;
            background: #3D94F6;
            background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
            background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
            background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
            background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
            background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            text-decoration: none;
         }
    

    .bottom{
        margin: 100px auto 100px auto;
    }

    .social{
        width: 100px;
        height:auto;
    }
    .fb{
        height: 50px;
        width:50px;
    }
    .footer {
        background-color:rgb(148, 212, 255);
        padding-top: 50px;
    }
    .p1{
        color: seagreen;
    }

      
    
   .link{
       color: darkmagenta;
   }
   a:hover{
      background-color: deepskyblue; 
   }
   .copyright{
       color: firebrick;
   }
   .other{
       background-color: rgb(179, 247, 241);
       padding: 50px;
   }
   
       